<!-- head -->
<head>
<style type="text/css">
img.wp-smiley,
img.emoji {
  display: inline !important;
  border: none !important;
  box-shadow: none !important;
  height: 1em !important;
  width: 1em !important;
  margin: 0 .07em !important;
  vertical-align: -0.1em !important;
  background: none !important;
  padding: 0 !important;
}
</style>
<link rel='stylesheet' id='ls-google-fonts-css'  href='http://fonts.googleapis.com/css?family=Lato:100,300,regular,700,900%7COpen+Sans:300%7CIndie+Flower:regular%7COswald:300,regular,700&#038;subset=latin%2Clatin-ext' type='text/css' media='all' />

<style id='rs-plugin-settings-inline-css' type='text/css'>
.tp-caption a{color:#ff7302;text-shadow:none;-webkit-transition:all 0.2s ease-out;-moz-transition:all 0.2s ease-out;-o-transition:all 0.2s ease-out;-ms-transition:all 0.2s ease-out}.tp-caption a:hover{color:#ffa902}
</style>
      <script>
      jQuery(document).ready(function(e) {
                jQuery("body").addClass("sfsi_1.47")
            });
      function sfsi_processfurther(ref) {
        var feed_id = 'NEdTWVR3MFVIbkZPcG95bldZS2JQNWFmckxQS2xCRzBQR29yVitmaERrL0JhdGtpcnc2bWwycVUxK3JnZ0VtTzRCUkFNQjBqNk9KOUJYNlJ6OVJpWHFNS2lGdVVLQVN6T2xzaHNlUUV0aXJIZG1QWTNkbzNzSU9yT3RGSE1XajR8aWZBR1prbGN3UnA4K1Zuc1hmNU1haGJkdlFRSnVrTUV4MTRGejc2YjZKST0=';
        var feedtype = 8;
        var email = jQuery(ref).find('input[name="data[Widget][email]"]').val();
        var filter = /^([a-zA-Z0-9_\.\-])+\@(([a-zA-Z0-9\-])+\.)+([a-zA-Z0-9]{2,4})+$/;
        if ((email != "Enter your email") && (filter.test(email))) {
          if (feedtype == "8") {
            var url = "'.$url.'"+feed_id+"/"+feedtype;
            window.open(url, "popupwindow", "scrollbars=yes,width=1080,height=760");
            return true;
          }
        } else {
          alert("Please enter email address");
          jQuery(ref).find('input[name="data[Widget][email]"]').focus();
          return false;
        }
      }
    </script>
        <style type="text/css" aria-selected="true">
      .sfsi_subscribe_Popinner
      {
                width: 100% !important;
        height: auto !important;
                        border: 1px solid #b5b5b5 !important;
                padding: 18px 0px !important;
        background-color: #ffffff !important;
      }
      .sfsi_subscribe_Popinner form
      {
        margin: 0 20px !important;
      }
      .sfsi_subscribe_Popinner h5
      {
        font-family: Helvetica,Arial,sans-serif !important;
                font-weight: bold !important;
                color: #000000 !important;
        font-size: 16px !important;
        text-align: center !important;
        margin: 0 0 10px !important;
          padding: 0 !important;
      }
      .sfsi_subscription_form_field {
        margin: 5px 0 !important;
        width: 100% !important;
        display: inline-flex;
        display: -webkit-inline-flex;
      }
      .sfsi_subscription_form_field input {
        width: 100% !important;
        padding: 10px 0px !important;
      }
      .sfsi_subscribe_Popinner input[type=email]
      {
        font-family: Helvetica,Arial,sans-serif !important;
                font-style: normal !important;
                color:  !important;
        font-size: 14px !important;
        text-align: center !important;
      }
      .sfsi_subscribe_Popinner input[type=email]::-webkit-input-placeholder {
          font-family: Helvetica,Arial,sans-serif !important;
                font-style: normal !important;
                color:  !important;
        font-size: 14px !important;
        text-align: center !important;
      }
      .sfsi_subscribe_Popinner input[type=email]:-moz-placeholder { /* Firefox 18- */
          font-family: Helvetica,Arial,sans-serif !important;
                font-style: normal !important;
                color:  !important;
        font-size: 14px !important;
        text-align: center !important;
      }
      .sfsi_subscribe_Popinner input[type=email]::-moz-placeholder {  /* Firefox 19+ */
          font-family: Helvetica,Arial,sans-serif !important;
                font-style: normal !important;
                color:  !important;
        font-size: 14px !important;
        text-align: center !important;
      }
      .sfsi_subscribe_Popinner input[type=email]:-ms-input-placeholder {
          font-family: Helvetica,Arial,sans-serif !important;
                font-style: normal !important;
                color:  !important;
        font-size: 14px !important;
        text-align: center !important;
      }
      .sfsi_subscribe_Popinner input[type=submit]
      {
        font-family: Helvetica,Arial,sans-serif !important;
                font-weight: bold !important;
                color: #000000 !important;
        font-size: 16px !important;
        text-align: center !important;
        background-color: #dedede !important;
      }
    </style>
  <style>
</style>
<style>
h5 { font-weight: 400; }

#Top_bar #logo { height: auto; }

#Top_bar .menu > li > a span:not(.description) { padding: 5px 20px; letter-spacing: 1px; }e
  #Header_creative #Top_bar .logo { margin: 0; }
  #Header_creative { border-right: 0; box-shadow: 0 0 0 0 rgba(0, 0, 0, 0); }
  #Header_creative #Top_bar .menu > li > a:after { bottom: 0px; display: block; height: 1px; left: 10%; top: auto; width: 80%; }
}

body:not(.template-slider) #Header_wrapper { background-position: center bottom; }
#Subheader { padding: 110px 0 170px; }

/* List */
.list_item .list_right h4 { font-size: 22px; }

/* Call to action */
.calltoaction_box { background: url("/assets/home_dentist_first_visit.jpg") no-repeat top center; box-sizing: border-box; padding: 20px; position: relative; width: 100%; }
.calltoaction_box .inside { border: 1px solid #fff; font-weight: 100; padding: 50px 30px 30px; }

/* Tabs */
.style-simple  .tabs_vertical.ui-tabs .ui-tabs-panel { padding: 15px 5% 20px !important; }
.style-simple  .tabs_vertical.ui-tabs .ui-tabs-nav li a { padding-right: 40px !important; font-family: Crimson Text; font-size: 20px; font-weight: 400; letter-spacing: 2px; }
.ui-tabs .ui-tabs-nav li a { color: #bdbfbf; }

/* Footer */
#Footer .footer_copy { background: #e9e8e4; border-top: 0; }
#Footer .widgets_wrapper { padding: 30px 0; }
#Footer .widget h4 { font-size: 24px; text-align: center; }

/* Buttons */
a.button.button_large, a.tp-button.button_large, button.button_large, input.button_large[type="submit"], input.button_large[type="reset"], input.button_large[type="button"] {
    font-size: 125%;
    line-height: 125%;
}

.wraptocenter {
  display: table-cell;
  text-align: center;
  vertical-align: middle;
  width: 200px;
  height: 200px;
  background-color: #999;
}
.wraptocenter * {
  vertical-align: middle;
}
.column_attr h4 {
    font-size: 28px;
    line-height: 54px;
}
#Footer .image_frame .scale-with-grid{
    width:20px !important;
}
.sliding_box .photo_wrapper {
    transition: all 0.3s ease-in-out 0s;
    text-align: center;
}
@media (min-width: 800px){
items_group .one-fourth.column{
      width:0px !important;
    float:left !important;

}
.image_frame .image_wrapper, .wp-caption img, .icon_box .icon_wrapper:before {
    border-color: #e2e2e2;
    text-align: center;
}

}
.team .image_frame {
    margin-bottom: 15px;
    text-align: center;
}
</style>

<!--[if lt IE 9]>
<script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
<![endif]-->
<script>
//<![CDATA[
jQuery(window).load(function(){
var retina = window.devicePixelRatio > 1 ? true : false;if( retina ){var retinaEl = jQuery("#logo img.logo-main");var retinaLogoW = retinaEl.width();var retinaLogoH = retinaEl.height();retinaEl.attr( "src", "/assets/lg2.png" ).width( retinaLogoW ).height( retinaLogoH );var stickyEl = jQuery("#logo img.logo-sticky");var stickyLogoW = stickyEl.width();var stickyLogoH = stickyEl.height();stickyEl.attr( "src", "/assets/lg2.png" ).width( stickyLogoW ).height( stickyLogoH );var mobileEl = jQuery("#logo img.logo-mobile");var mobileLogoW = mobileEl.width();var mobileLogoH = mobileEl.height();mobileEl.attr( "src", "/assets/lg2.png" ).width( mobileLogoW ).height( mobileLogoH );}});
//]]>
</script>
<meta name="generator" content="Powered by Visual Composer - drag and drop page builder for WordPress."/>
<!--[if lte IE 9]><link rel="stylesheet" type="text/css" href="http://hairtransplantclinic.in/wp-content/plugins/js_composer/assets/css/vc_lte_ie9.css" media="screen"><![endif]--><!--[if IE  8]><link rel="stylesheet" type="text/css" href="http://hairtransplantclinic.in/wp-content/plugins/js_composer/assets/css/vc-ie8.css" media="screen"><![endif]--><meta name="generator" content="Powered by Slider Revolution 5.0.6 - responsive, Mobile-Friendly Slider Plugin for WordPress with comfortable drag and drop interface." />
<noscript><style> .wpb_animate_when_almost_visible { opacity: 1; }</style></noscript></head>

<!-- body -->
<body class="home page page-id-2 page-template-default template-slider  color-custom style-simple layout-full-width nice-scroll-on mobile-tb-left no-content-padding header-creative header-open minimalist-header sticky-white ab-hide subheader-both-center footer-copy-center wpb-js-composer js-comp-ver-4.7 vc_responsive"><div style="position: absolute; top: 0px; left: -3469px;">Create a Joomla website with Joomla Templates. These Joomla Themes are reviewed and tested for optimal performance. <a target="_blank" href="http://bigtheme.net/joomla">High Quality, Premium Joomla Templates for Your Site</a></div>
  <!-- mfn_hook_top --><!-- mfn_hook_top -->


<div id="Header_creative">
  <a href="#" class="creative-menu-toggle"><i class="icon-menu"></i></a>

  <div class="creative-wrapper">

    <div id="Top_bar">
      <div class="one">


        <div class="top_bar_left">

          <!-- .logo -->
          <div class="logo">
            <a id="logo" href="#" title="Dr Y V Rao&#039;s Hair Transplant &amp; Cosmetic Surgery Centre">
            <%=image_tag 'lg2.png', class: "logo-main scale-with-grid", alt: "srinivas Hair Transplant &amp; Cosmetic Surgery Centre"%>
            <%=image_tag 'lg2-1.png', class: "logo-mobile scale-with-grid", alt: ""%>
            </a>          
          </div>
          <div class="logo">
                                        <a id="logo" href="#" title="Dr Y V Rao's Hair Transplant &amp; Cosmetic Surgery Centre">
                                        <%=image_tag "dr.png", class: "logo-main scale-with-grid",alt: "Dr. Srinivas", style: "width: 120px;height: 140px;" %>
                                        <%=image_tag "doctors-image.png", class: "logo-mobile scale-with-grid",alt: "Dr. Srinivas", style: "width: 100px;height: 120px;" %>
          </div>

          <div class="menu_wrapper">
            <nav id="menu" class="menu-main-menu-container"><ul id="menu-main-menu" class="menu"><li id="menu-item-1860" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-has-children"><a href="#"><span>Procedures for Women</span></a>
<ul class="sub-menu mfn-megamenu mfn-megamenu-4">
  <li id="menu-item-1861" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-has-children mfn-megamenu-cols-4"><a class="mfn-megamenu-title" href="#"><span>
  <%=image_tag "face-140x70.jpg"%><br/><div class="title">Face</div></span></a>
  <ul class="sub-menu mfn-megamenu mfn-megamenu-4">
    <li id="menu-item-1862" class="menu-item menu-item-type-post_type menu-item-object-page"><a href="#"><span>Rhinoplasty</span></a></li>
    <li id="menu-item-1863" class="menu-item menu-item-type-post_type menu-item-object-page"><a href="#"><span>Scars</span></a></li>
    <li id="menu-item-1864" class="menu-item menu-item-type-post_type menu-item-object-page"><a href="#"><span>Surgery for Ageing Face</span></a></li>
    <li id="menu-item-1865" class="menu-item menu-item-type-post_type menu-item-object-page"><a href="#"><span>Others</span></a></li>
  </ul>
</li>
  <li id="menu-item-1866" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-has-children mfn-megamenu-cols-4"><a class="mfn-megamenu-title" href="#"><span>
  <%=image_tag "breast-140x70.jpg"%><br/><div class="title">Breast</div></span></a>
  <ul class="sub-menu mfn-megamenu mfn-megamenu-4">
    <li id="menu-item-1867" class="menu-item menu-item-type-post_type menu-item-object-page"><a href="#"><span>Breast Augmentation</span></a></li>
    <li id="menu-item-1870" class="menu-item menu-item-type-post_type menu-item-object-page"><a href="#"><span>Breast Reduction</span></a></li>
  </ul>
</li>
  <li id="menu-item-1871" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-has-children mfn-megamenu-cols-4"><a class="mfn-megamenu-title" href="#"><span>
  <%=image_tag "body-140x70.jpg"%><br/><div class="title">Body</div></span></a>
  <ul class="sub-menu mfn-megamenu mfn-megamenu-4">
    <li id="menu-item-1873" class="menu-item menu-item-type-post_type menu-item-object-page"><a href="#"><span>Body Lift</span></a></li>
    <li id="menu-item-1872" class="menu-item menu-item-type-post_type menu-item-object-page"><a href="#"><span>Liposuction</span></a></li>
    <li id="menu-item-1874" class="menu-item menu-item-type-post_type menu-item-object-page"><a href="#"><span>Body contouring</span></a></li>
  </ul>
</li>
  <li id="menu-item-1958" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children mfn-megamenu-cols-4"><a class="mfn-megamenu-title" href="#"><span><%=image_tag "female_Other.png"%><br/><div class="title">Other</div></span></a>
  <ul class="sub-menu mfn-megamenu mfn-megamenu-4">
    <li id="menu-item-1959" class="menu-item menu-item-type-post_type menu-item-object-page"><a href="#"><span>Ears</span></a></li>
    <li id="menu-item-1960" class="menu-item menu-item-type-post_type menu-item-object-page"><a href="#"><span>Chin</span></a></li>
    <li id="menu-item-1961" class="menu-item menu-item-type-post_type menu-item-object-page"><a href="#"><span>Cheeks</span></a></li>
    <li id="menu-item-1962" class="menu-item menu-item-type-post_type menu-item-object-page"><a href="#"><span>Lips</span></a></li>
  </ul>
</li>
</ul>
</li>
<li id="menu-item-1859" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-has-children"><a href="#"><span>Procedures for Men</span></a>
<ul class="sub-menu mfn-megamenu mfn-megamenu-3">
  <li id="menu-item-1875" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-has-children mfn-megamenu-cols-3"><a class="mfn-megamenu-title" href="#"><span><%=image_tag "hair-140x70-e1453380058930.jpg"%><br/><div class="title">Hair Transplant</div></span></a>
  <ul class="sub-menu mfn-megamenu mfn-megamenu-3">
    <li id="menu-item-1880" class="menu-item menu-item-type-post_type menu-item-object-page"><a href="#"><span>Hair Transplant</span></a></li>
    <li id="menu-item-1876" class="menu-item menu-item-type-post_type menu-item-object-page"><a href="#"><span>Hair Loss</span></a></li>
    <li id="menu-item-1879" class="menu-item menu-item-type-post_type menu-item-object-page"><a href="#"><span>Hair Restoration</span></a></li>
  </ul>
</li>
  <li id="menu-item-2161" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children mfn-megamenu-cols-3"><a class="mfn-megamenu-title" href="#"><span><%=image_tag "Hair-Transplant1.jpg"%><br/><div class="title">FUT</div></span></a>
  <ul class="sub-menu mfn-megamenu mfn-megamenu-3">
    <li id="menu-item-1877" class="menu-item menu-item-type-post_type menu-item-object-page"><a href="#"><span>Follicular Unit Transplantation</span></a></li>
    <li id="menu-item-1878" class="menu-item menu-item-type-post_type menu-item-object-page"><a href="#"><span>Follicular Unit Extraction</span></a></li>
  </ul>
</li>
  <li id="menu-item-1948" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children mfn-megamenu-cols-3"><a class="mfn-megamenu-title" href="#"><span><%=image_tag "menothrsmenu.png"%><br/><div class="title">Other</div></span></a>
  <ul class="sub-menu mfn-megamenu mfn-megamenu-3">
    <li id="menu-item-1954" class="menu-item menu-item-type-post_type menu-item-object-page"><a href="#"><span>Male Rhinoplasty</span></a></li>
    <li id="menu-item-1955" class="menu-item menu-item-type-post_type menu-item-object-page"><a href="#"><span>Man Boobs Surgery</span></a></li>
    <li id="menu-item-1956" class="menu-item menu-item-type-post_type menu-item-object-page"><a href="#"><span>Male Liposuction</span></a></li>
  </ul>
</li>
</ul>
</li>
<li id="menu-item-2331" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children"><a href="#"><span>Patient Stories</span></a>
<ul class="sub-menu">
  <li id="menu-item-2068" class="menu-item menu-item-type-post_type menu-item-object-page"><a href="#"><span>Video Testimonials</span></a></li>
  <li id="menu-item-2330" class="menu-item menu-item-type-post_type menu-item-object-page"><a href="#"><span>Dr&#8217;s TV Interviews</span></a></li>
</ul>
</li>
<li id="menu-item-2136" class="menu-item menu-item-type-post_type menu-item-object-page"><a href="#"><span>Dr&#8217;s Blog</span></a></li>
<li id="menu-item-54" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-has-children"><a href="#"><span>About us</span></a>
<ul class="sub-menu">
  <li id="menu-item-52" class="menu-item menu-item-type-post_type menu-item-object-page"><a href="#"><span>Contact Us</span></a></li>
</ul>
</li>
</ul></nav><a class="responsive-menu-toggle " href="#"><i class="icon-menu"></i></a>
          </div>
<center><h5>MEMBER OF</h5></center>
<div class="memberof">
<marquee width="100%" onmouseout="this.start()" onmouseover="this.stop()" scrolldelay="2" scrollamount="8" direction="left" behavior="scroll" style="width: 100%; overflow: hidden;">
<img src="/assets/ahrs.jpg" height="70" alt="as">
<img src="/assets/apsi.jpg" height="70" alt="as">
<img src="/assets/aahrs.jpg" height="70" alt="as">
<img src="/assets/iaas.jpg" height="70" alt="as">
</marquee>
</div>
<center><h5 style="font-family: cursive !important; font-weight: 300 !important;">Follow Us:<h5></center>
<div class="socl-icns">
<a target="_blank" href="https://www.facebook.com/#" title="Facebook">
<img src="/assets/facebook.png"></a>

<a target="_blank" href="https://twitter.com/#" title="Twitter"><img style="margin-left:10px;" src="/assets/twitter.png" style="vertical-align:middle"></a>

<a target="_blank" href="https://www.youtube.com/channel/UCE2GvW4zQ3uM6xQnhBrXQGQ" title="Youtube"><img style="margin-left:10px;" src="/assets/youtube.png" style="vertical-align:middle"></a>
</div>

          <div class="search_wrapper">
            <!-- #searchform -->
                        <form method="get" id="searchform" action="#">
                            <i class="icon_search icon-search"></i>
              <a href="#" class="icon_close"><i class="icon-cancel"></i></a>
              <input type="text" class="field" name="s" id="s" placeholder="Enter your search" />
              <input type="submit" class="submit" value="" style="display:none;" />
            </form>
          </div>

        </div>


        <div class="banner_wrapper">
                  </div>

      </div>
    </div>

    <!--<div id="Action_bar">
      <ul class="social">
                <li class="facebook"><a target="_blank" href="https://www.facebook.com/yv.rao.1217" title="Facebook"><i class="icon-facebook"></i></a></li>       <li class="googleplus"><a target="_blank" href="https://plus.google.com/u/0/104542755529218838892" title="Google+"><i class="icon-gplus"></i></a></li>        <li class="twitter"><a target="_blank" href="https://twitter.com/dryvraos" title="Twitter"><i class="icon-twitter"></i></a></li>                <li class="youtube"><a target="_blank" href="https://www.youtube.com/channel/UCE2GvW4zQ3uM6xQnhBrXQGQ" title="YouTube"><i class="icon-play"></i></a></li>               <li class="linked_in"><a target="_blank" href="http://linkedin.com" title="LinkedIn"><i class="icon-linkedin"></i></a></li>                                                                     </ul>
    </div>-->

  </div>

</div>

<div class="the-icons">
<%=image_tag 'phone-icon.png',alt: "phone-icon",width: "32",height: "32", class: "alignleft size-full wp-image-2213"%>
<a style="color: #1C1C1C; font-size: 24px; font-weight: bold;" href="tel:+917036999088">+91 7036999088,</a> <a style="color: #1C1C1C; font-size: 24px; font-weight: bold;" href="tel:+919010490148">+91 9010490148</a>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
<%=image_tag 'mail.png', alt: "mail", width: "32",height: "32", class: "alignnone size-full wp-image-2214" %>
<a style="color: #1C1C1C; font-size: 24px; font-weight: bold;" href="mailto:drvenkymedasani@gmail.com">drvenkymedasani@gmail.com</a>
</div>
  <!-- #Wrapper -->
  <div id="Wrapper">



    <!-- #Header_bg -->
    <div id="Header_wrapper" >

      <!-- #Header -->
      <header id="Header">

        <div class="mfn-main-slider" id="mfn-rev-slider">
<div id="rev_slider_1_2_wrapper" class="rev_slider_wrapper fullwidthbanner-container" style="margin:0px auto;padding:0px;margin-top:0px;margin-bottom:0px;">
<!-- START REVOLUTION SLIDER 5.0.6 auto mode -->
  <div id="rev_slider_1_2" class="rev_slider fullwidthabanner" style="display:none;" data-version="5.0.6">
<ul>  <!-- SLIDE  -->
  <li data-index="rs-8" data-transition="fade" data-slotamount="default"  data-easein="default" data-easeout="default" data-masterspeed="default"  data-thumb="/assets/sl11-100x50.jpg"  data-rotate="0"  data-saveperformance="off"  data-title="Slide" data-description="">
    <!-- MAIN IMAGE -->
    <%=image_tag 'sl11.jpg', alt: "", width: "1106",height: "340", class: "rev-slidebg", "data-bgposition"=>"center center","data-bgfit"=>"contain", "data-bgrepeat"=>"no-repeat" %>
    <!-- LAYERS -->
  </li>
  <!-- SLIDE  -->
</ul>
<div class="tp-bannertimer tp-bottom" style="visibility: hidden !important;"></div> </div>
<script>var htmlDiv = document.getElementById("rs-plugin-settings-inline-css"); var htmlDivCss="";
        if(htmlDiv) {
          htmlDiv.innerHTML = htmlDiv.innerHTML + htmlDivCss;
        }
        else{
          var htmlDiv = document.createElement("div");
          htmlDiv.innerHTML = "<style>" + htmlDivCss + "</style>";
          document.getElementsByTagName("head")[0].appendChild(htmlDiv.childNodes[0]);
        }
      </script>
    <script type="text/javascript">

      /******************************************
        - PREPARE PLACEHOLDER FOR SLIDER  -
      ******************************************/

      var setREVStartSize=function(){
        try{var e=new Object,i=jQuery(window).width(),t=9999,r=0,n=0,l=0,f=0,s=0,h=0;
          e.c = jQuery('#rev_slider_1_2');
          e.gridwidth = [1100];
          e.gridheight = [340];

          e.sliderLayout = "auto";
          if(e.responsiveLevels&&(jQuery.each(e.responsiveLevels,function(e,f){f>i&&(t=r=f,l=e),i>f&&f>r&&(r=f,n=e)}),t>r&&(l=n)),f=e.gridheight[l]||e.gridheight[0]||e.gridheight,s=e.gridwidth[l]||e.gridwidth[0]||e.gridwidth,h=i/s,h=h>1?1:h,f=Math.round(h*f),"fullscreen"==e.sliderLayout){var u=(e.c.width(),jQuery(window).height());if(void 0!=e.fullScreenOffsetContainer){var c=e.fullScreenOffsetContainer.split(",");if (c) jQuery.each(c,function(e,i){u=jQuery(i).length>0?u-jQuery(i).outerHeight(!0):u}),e.fullScreenOffset.split("%").length>1&&void 0!=e.fullScreenOffset&&e.fullScreenOffset.length>0?u-=jQuery(window).height()*parseInt(e.fullScreenOffset,0)/100:void 0!=e.fullScreenOffset&&e.fullScreenOffset.length>0&&(u-=parseInt(e.fullScreenOffset,0))}f=u}else void 0!=e.minHeight&&f<e.minHeight&&(f=e.minHeight);e.c.closest(".rev_slider_wrapper").css({height:f})
        }catch(d){console.log("Failure at Presize of Slider:"+d)}
      };


      setREVStartSize();
      function revslider_showDoubleJqueryError(sliderID) {
          var errorMessage = "Revolution Slider Error: You have some jquery.js library include that comes after the revolution files js include.";
          errorMessage += "<br> This includes make eliminates the revolution slider libraries, and make it not work.";
          errorMessage += "<br><br> To fix it you can:<br>&nbsp;&nbsp;&nbsp; 1. In the Slider Settings -> Troubleshooting set option:  <strong><b>Put JS Includes To Body</b></strong> option to true.";
          errorMessage += "<br>&nbsp;&nbsp;&nbsp; 2. Find the double jquery.js include and remove it.";
          errorMessage = "<span style='font-size:16px;color:#BC0C06;'>" + errorMessage + "</span>"
            jQuery(sliderID).show().html(errorMessage);
        }
      var tpj=jQuery;
      tpj.noConflict();
      var revapi1;
      tpj(document).ready(function() {
        //if(tpj("#rev_slider_1_2").revolution == undefined){
          //revslider_showDoubleJqueryError("#rev_slider_1_2");
        //}else{
          revapi1 = tpj("#rev_slider_1_2").show().revolution({
            sliderType:"standard",
            //jsFileLocation:"http://hairtransplantclinic.in/wp-content/plugins/revslider/public/assets/js/",
            sliderLayout:"auto",
            dottedOverlay:"none",
            delay:3000,
            navigation: {
              keyboardNavigation:"off",
              keyboard_direction: "horizontal",
              mouseScrollNavigation:"off",
              onHoverStop:"on",
              touch:{
                touchenabled:"on",
                swipe_threshold: 75,
                swipe_min_touches: 1,
                swipe_direction: "horizontal",
                drag_block_vertical: false
              }
              ,
              arrows: {
                style:"hesperiden",
                enable:true,
                hide_onmobile:false,
                hide_onleave:false,
                tmp:'',
                left: {
                  h_align:"left",
                  v_align:"center",
                  h_offset:20,
                  v_offset:0
                },
                right: {
                  h_align:"right",
                  v_align:"center",
                  h_offset:20,
                  v_offset:0
                }
              }
            },
            gridwidth:1100,
            gridheight:340,
            lazyType:"none",
            shadow:0,
            spinner:"spinner3",
            stopLoop:"off",
            stopAfterLoops:-1,
            stopAtSlide:-1,
            shuffle:"off",
            autoHeight:"off",
            disableProgressBar:"on",
            hideThumbsOnMobile:"off",
            hideSliderAtLimit:0,
            hideCaptionAtLimit:0,
            hideAllCaptionAtLilmit:0,
            startWithSlide:0,
            debugMode:false,
            fallbacks: {
              simplifyAll:"off",
              nextSlideOnWindowFocus:"off",
              disableFocusListener:false,
            }
          });
        //}
      }); /*ready*/
    </script>
    <script>
          var htmlDivCss = '  #rev_slider_1_2_wrapper .tp-loader.spinner3 div { background-color: #FFFFFF !important; } ';
          var htmlDiv = document.getElementById('rs-plugin-settings-inline-css');
          if(htmlDiv) {
            htmlDiv.innerHTML = htmlDiv.innerHTML + htmlDivCss;
          }
          else{
            var htmlDiv = document.createElement('div');
            htmlDiv.innerHTML = '<style>' + htmlDivCss + '</style>';
            document.getElementsByTagName('head')[0].appendChild(htmlDiv.childNodes[0]);
          }
          </script>
          <script>
          var htmlDivCss = unescape(".hesperiden.tparrows%20%7B%0A%09cursor%3Apointer%3B%0A%09background%3A%23000%3B%0A%09background%3Argba%280%2C0%2C0%2C0.5%29%3B%0A%09width%3A40px%3B%0A%09height%3A40px%3B%0A%09position%3Aabsolute%3B%0A%09display%3Ablock%3B%0A%09z-index%3A100%3B%0A%20%20%20%20border-radius%3A%2050%25%3B%0A%7D%0A.hesperiden.tparrows%3Ahover%20%7B%0A%09background%3A%23000%3B%0A%7D%0A.hesperiden.tparrows%3Abefore%20%7B%0A%09font-family%3A%20%22revicons%22%3B%0A%09font-size%3A20px%3B%0A%09color%3A%23fff%3B%0A%09display%3Ablock%3B%0A%09line-height%3A%2040px%3B%0A%09text-align%3A%20center%3B%0A%7D%0A.hesperiden.tparrows.tp-leftarrow%3Abefore%20%7B%0A%09content%3A%20%22%5Ce82c%22%3B%0A%20%20%20%20margin-left%3A-3px%3B%0A%7D%0A.hesperiden.tparrows.tp-rightarrow%3Abefore%20%7B%0A%09content%3A%20%22%5Ce82d%22%3B%0A%20%20%20%20margin-right%3A-3px%3B%0A%7D%0A");
          var htmlDiv = document.getElementById('rs-plugin-settings-inline-css');
          if(htmlDiv) {
            htmlDiv.innerHTML = htmlDiv.innerHTML + htmlDivCss;
          }
          else{
            var htmlDiv = document.createElement('div');
            htmlDiv.innerHTML = '<style>' + htmlDivCss + '</style>';
            document.getElementsByTagName('head')[0].appendChild(htmlDiv.childNodes[0]);
          }
          </script>
        </div><!-- END REVOLUTION SLIDER --></div>      </header>


    </div>

    <!-- mfn_hook_content_before --><!-- mfn_hook_content_before -->
<!-- #Content -->
<div id="Content">
  <div class="content_wrapper clearfix">

    <!-- .sections_group -->
    <div class="sections_group">

      <div class="entry-content" itemprop="mainContentOfPage">
        <div class="section   srvcs "  style="padding-top:20px; padding-bottom:20px; background-color:" ><div class="section_wrapper clearfix"><div class="items_group clearfix"><div class="column one column_column "><div class="column_attr align_center"  style=""><h4>Our Services<br /></h4></div></div><div class="column one-second column_photo_box wpb_single_image img"><div class="photo_box  greyscale"><div class="image_frame"><div class="image_wrapper"><a href="#" ><div class="mask"></div><img class="scale-with-grid" src="/assets/hr-resto1.jpg" alt="" width="350" height="200"/></a></div></div><div class="desc"><h4>Hair Restoration</h4>
Our state-of-the-art facility at Dr. Y V Rao’s Center for Hair Transplant in Hyderabad, is devoted to the diagnosis and treatment of hair loss in men and women. Hair transplant surgery is performed using the cutting edge Follicular Unit Transplantation Strip method (FUT) and Follicular Unit Extraction (FUE) techniques…
<hr class="no_line" style="margin: 0 auto 20px;"/>

<center><a class="button  button_left button_themegreen button_js kill_the_icon" href="#"><span class="button_label">Read More >></span></a></center></div></div>
</div><div class="column one-second column_photo_box "><div class="photo_box  greyscale"><div class="image_frame"><div class="image_wrapper"><a href="#" ><div class="mask"></div><img class="scale-with-grid" src="/assets/cosme1.jpg" alt="" width="350" height="200"/></a></div></div><div class="desc"><h4>Cosmetic Surgery</h4>
Cosmetic surgery is one of the rapidly advancing medical specialties. Our aim is to provide a over view of this fascinating branch of medicine, make you aware of the various procedures procedure. Honesty is more important than salesmanship in this field. It is but natural to have high expectations especially, with the exploding information…
<hr class="no_line" style="margin: 0 auto 20px;"/>

<center><a class="button  button_left button_themegreen button_js kill_the_icon" href="#"><span class="button_label">Read More >></span></a></center></div></div>
</div><div class="column one column_column "><div class="column_attr align_center"  style=""><h4>Hair Transplant Services<br /></h4></div></div><div class="column one-third column_photo_box "><div class="photo_box "><h4>Hair Loss</h4><div class="image_frame"><div class="image_wrapper"><a href="#" ><div class="mask"></div><img class="scale-with-grid" src="/assets/hairlosss.jpg" alt="Hair Loss" width="279" height="172"/></a></div></div><div class="desc">The emotional effects of hair loss are often significantly more distressing on children than on adults. The child suffering from this condition often doesn’t understand the cause and tends to think that there’s just something wrong with him/her. Additionally...
<hr class="no_line" style="margin: 0 auto 20px;"/>

<center><a class="button  button_left button_themegreen button_js kill_the_icon" href="#"><span class="button_label">Read More >></span></a></center></div></div>
</div><div class="column one-third column_photo_box "><div class="photo_box "><h4>Hair Restoration</h4><div class="image_frame"><div class="image_wrapper"><a href="#" ><div class="mask"></div><img class="scale-with-grid" src="/assets/hairrestoration.jpg" alt="Hair Restoration" width="279" height="172"/></a></div></div><div class="desc">The area from which the hair is taken is commonly referred to as the horseshoe fringe. It is the hair that extends from behind both ears to the back of the head. Usually, this area is not affected by male-pattern baldness.Once the hair has been extracted, it is transplanted…
<hr class="no_line" style="margin: 0 auto 20px;"/>

<center><a class="button  button_left button_themegreen button_js kill_the_icon" href="#"><span class="button_label">Read More >></span></a></center></div></div>
</div><div class="column one-third column_photo_box "><div class="photo_box "><h4>Hair Transplant</h4><div class="image_frame"><div class="image_wrapper"><a href="#" ><div class="mask"></div><img class="scale-with-grid" src="/assets/hairtransplant.jpg" alt="Hair Transplant" width="279" height="172"/></a></div></div><div class="desc">A hair transplant takes a few sessions to complete. The number of procedures depends upon the extent of your hair loss, the projected hair loss rate, the amount of donor hair you can spare, and other artistic and medical considerations. Men can often…
<hr class="no_line" style="margin: 0 auto 20px;"/>

<center><a class="button  button_left button_themegreen button_js kill_the_icon" href="#"><span class="button_label">Read More >></span></a></center></div></div>
</div><div class="column one column_column "><div class="column_attr align_center"  style=""><h4>Cosmetic Surgery Services<br /></h4></div></div><div class="column one-third column_photo_box "><div class="photo_box "><h4>Face Procedures</h4><div class="image_frame"><div class="image_wrapper"><a href="#" ><div class="mask"></div><img class="scale-with-grid" src="/assets/face-procedures.jpg" alt="Face Procedures" width="279" height="172"/></a></div></div><div class="desc">One has to understand the concept that a scar can never be removed totally from the body. It can only be revised and made least visible with proper precautions. Scar revision is the name given to correct a scar...
<hr class="no_line" style="margin: 0 auto 20px;"/>

<center><a class="button  button_left button_themegreen button_js kill_the_icon" href="#"><span class="button_label">Read More >></span></a></center></div></div>
</div><div class="column one-third column_photo_box "><div class="photo_box "><h4>Breast Procedures</h4><div class="image_frame"><div class="image_wrapper"><a href="#" ><div class="mask"></div><img class="scale-with-grid" src="/assets/breatprocedures.jpg" alt="Breast Procedures" width="279" height="172"/></a></div></div><div class="desc">May women do have minor or major problems with breasts, but unwilling to discuss about them for various reasons. They silently suffer from the problem till a stage comes when they find it...
<hr class="no_line" style="margin: 0 auto 20px;"/>

<center><a class="button  button_left button_themegreen button_js kill_the_icon" href="#"><span class="button_label">Read More >></span></a></center></div></div>
</div><div class="column one-third column_photo_box "><div class="photo_box "><h4>Body Procedures</h4><div class="image_frame"><div class="image_wrapper"><a href="#" ><div class="mask"></div><img class="scale-with-grid" src="/assets/bodyprocedures.jpg" alt="Body Procedures" width="279" height="172"/></a></div></div><div class="desc">Various terminologies are in use about fat removal. But all boil down to only –removal of excess fat from the body, with or without fat refilling in areas of depressed regions over the the skin-ultimately...
<hr class="no_line" style="margin: 0 auto 20px;"/>

<center><a class="button  button_left button_themegreen button_js kill_the_icon" href="#"><span class="button_label">Read More >></span></a></center></div></div>
</div><div class="column one column_column "><div class="column_attr align_center"  style=""><h4>Our Expertise<br /></h4>
</div></div><div class="column one-fourth column_sliding_box "><div class="sliding_box"><div class="animate" data-anim-type="bounceIn"><a href="#" ><div class="photo_wrapper"><img class="scale-with-grid" src="/assets/hair.jpg" alt="Hair" width="216" height="216"/></div><div class="desc_wrapper"><h4>Hair</h4></div></a></div></div>
</div><div class="column one-fourth column_sliding_box "><div class="sliding_box"><div class="animate" data-anim-type="bounceIn"><a href="#" ><div class="photo_wrapper"><img class="scale-with-grid" src="/assets/face-216x216.jpg" alt="Face" width="216" height="216"/></div><div class="desc_wrapper"><h4>Face</h4></div></a></div></div>
</div><div class="column one-fourth column_sliding_box "><div class="sliding_box"><div class="animate" data-anim-type="bounceIn"><a href="#" ><div class="photo_wrapper"><img class="scale-with-grid" src="/assets/body-216x216.jpg" alt="Breast" width="216" height="216"/></div><div class="desc_wrapper"><h4>Breast</h4></div></a></div></div>
</div><div class="column one-fourth column_sliding_box "><div class="sliding_box"><div class="animate" data-anim-type="bounceIn"><a href="#" ><div class="photo_wrapper"><img class="scale-with-grid" src="/assets/breast-216x216.jpg" alt="Body" width="216" height="216"/></div><div class="desc_wrapper"><h4>Body</h4></div></a></div></div>
</div><div class="column one column_divider "><div class="hr_wide  hr_color" ><hr /></div>
</div></div></div></div><div class="section   meet-expert "  style="padding-top:20px; padding-bottom:20px; background-color:" ><div class="section_wrapper clearfix"><div class="items_group clearfix"><div class="column one column_column expert-section"><div class="column_attr align_center"  style=""><h4 style="color: #fff !important;">Meet Our Expert</h4>
</div></div><div class="column one-third column_our_team "><div class="team team_vertical"><div class="image_frame no_link scale-with-grid"><div class="image_wrapper"><img class="scale-with-grid" src="/assets/dr.png" alt="<h5>Dr. M V Srinivas</h5>" width="279" height="200"/></div></div><div class="desc_wrapper"><h4><h5>Dr. M V Srinivas</h5></h4><p class="subtitle"> Plastic & Aesthetic Surgeon</p><hr class="hr_color" /><div class="desc"><hr class="no_line" style="margin: 0 auto 40px;"/>

<center><a class="button  button_left button_themegreen button_js kill_the_icon" href="#"><span class="button_icon"><i class="icon-chat"></i></span><span class="button_label">Ask a query</span></a></center></div></div></div>
</div><div class="column two-third column_column "><div class="column_attr"  style=""><h3 style="color: #fff !important;" align="justify"><div class="blockquote"><blockquote>Dr. Venkata Srinivas Rao, is a qualified & certified plastic & cosmetic surgeon in Hyderabad. After his degree in plastic & cosmetic surgery he got trained, extensively in reconstructive, microsurgery & cosmetic surgery at reputed center both in India & abroad. He has eighteen years of experience as plastic & cosmetic surgeon in Hyderabad. His special interest is in Hair transplantation & Cosmetic surgery and has been pursuing these with more dedication.
<br/>
Obtained Medicine Degree from Rangaraya Medical College, Kakinada in 1986.Completed M.S in gen.surgery in 1990 from Manipal. Obtained M.Ch in plastic & cosmetic surgery degree in 1996 from Madras Medical College, Chennai. Afterwards worked in NIMS (Nizamm’s Institute Of Medical Sciences) as Assistant prof. & I/C Head of the department of Plastic surgery till 2002. Obtained Visiting Fellowship from Chang Gung Hospital, TAIWAN in the year 2000. Later he worked in Care Hospital till 2002 to 2008, after that he started his own cosmetic plastic surgery Center in Hyderabad..</blockquote></div>
</h3><br/>
</div></div></div></div></div><div class="section"  style="padding-top:20px; padding-bottom:20px; background-color:" ><div class="section_wrapper clearfix"><div class="items_group clearfix"><div class="column one column_column "><div class="column_attr"  style=""><h4><center>Patient Stories</center></h4></div></div><div class="column one-fourth column_column "><div class="column_attr"  style=""></div></div><div class="column one-fourth column_column "><div class="column_attr"  style=""><center><img class="scale-with-grid" src="/assets/home_dent_tab_3.png" alt="" /></center></div></div><div class="column one-fourth column_column "><div class="column_attr"  style=""><center><img class="scale-with-grid" src="/assets/home_dent_tab_1.png" alt="" /></center></div></div><div class="column one-fourth column_column "><div class="column_attr"  style=""></div></div><div class="column one column_slider_plugin "><div class="mfn-main-slider" id="mfn-layer-slider"><script data-cfasync="false" type="text/javascript">var lsjQuery = jQuery;</script><script data-cfasync="false" type="text/javascript">
lsjQuery(document).ready(function() {
if(typeof lsjQuery.fn.layerSlider == "undefined") { lsShowNotice('layerslider_1','jquery'); }
else {
lsjQuery("#layerslider_1").layerSlider({twoWaySlideshow: true, skin: 'carousel', sliderFadeInDuration: 200, navStartStop: false, navButtons: false, showCircleTimer: false, thumbnailNavigation: 'disabled', skinsPath: '#'})
}
});
</script><div id="layerslider_1" class="ls-wp-container" style="width:800px;height:300px;margin:0 auto;margin-bottom: 0px;"><div class="ls-slide" data-ls="slidedelay:1500;transition2d:1;"><img src="/assets/HairBA1.jpg" class="ls-bg" alt="HairBA1" /></div><div class="ls-slide" data-ls="slidedelay:1500;transition2d:1;"><img src="/assets/HairBA2.jpg" class="ls-bg" alt="HairBA2" /></div><div class="ls-slide" data-ls="slidedelay:1500;transition2d:1;"><img src="/assets/Before-After-1.jpg" class="ls-bg" alt="Before After 1" /></div><div class="ls-slide" data-ls="slidedelay:1500;transition2d:1;"><img src="/assets/Before-After-2.jpg" class="ls-bg" alt="Before After 2" /></div><div class="ls-slide" data-ls="slidedelay:1500;transition2d:1;"><img src="/assets/Before-After-3.jpg" class="ls-bg" alt="Before After 3" /></div><div class="ls-slide" data-ls="slidedelay:1500;transition2d:1;"><img src="/assets/Before-After-4.jpg" class="ls-bg" alt="Before After 4" /></div><div class="ls-slide" data-ls="slidedelay:1500;transition2d:1;"><img src="/assets/Before-After-5.jpg" class="ls-bg" alt="Before After 5" /><h1 class="ls-l" style="top:0px;left:0px;width:;height:;padding-top:;padding-right:;padding-bottom:;padding-left:;border-top:;border-right:;border-bottom:;border-left:;font-family:;font-size:;line-height:;color:;background:;border-radius:;white-space: nowrap;" data-ls="parallaxlevel:1;"></h1></div><div class="ls-slide" data-ls="slidedelay:1500;transition2d:1;"><img src="/assets/HairBA3.jpg" class="ls-bg" alt="HairBA3" /></div></div></div></div><div class="column one column_divider "><div class="hr_wide  hr_color" ><hr /></div>
</div></div></div></div><div class="section   choose-us "  style="padding-top:20px; padding-bottom:20px; background-color:" ><div class="section_wrapper clearfix"><div class="items_group clearfix"><div class="column one column_column "><div class="column_attr"  style=""><h4><center>Why Choose Us</center></h4></div></div><div class="column one-second column_column "><div class="column_attr"  style=""><div class="list_item lists_4 clearfix"><div class="circle">1</div><div class="list_right"><div class="desc  align_center"><h5>Hair Expertise</h5>
<ul style="list-style-type:disc; color:black;">
 <li>2000+ Hair Transplants</li>
  <li>Natural Looking Hair Line & Results</li>
  <li>Performed By Plastic Surgein</li>
  <li>Advanced FUT & FUE Methods</li>
</ul></div></div></div></div></div><div class="column one-second column_column "><div class="column_attr"  style=""><div class="list_item lists_4 clearfix"><div class="circle">2</div><div class="list_right"><div class="desc" align_center><h5>All Cosmetic Surgeries</h5><ul style="list-style-type:disc; color:black;">
<li>All Types Of Cosmetic/Plastic Procedures</li>
        <li>Advanced Methods Reduces Downtime</li>
        <li>Sincerely & Frankly Explain All Aspects Of Cosmetic Procedures</li>
        <li>Friendly Staff</li>
</ul>
</div>
</div>
</div></div></div></div></div></div><div class="section    "  style="padding-top:0px; padding-bottom:0px; background-color:" ><div class="section_wrapper clearfix"><div class="items_group clearfix"></div></div></div><div class="section    "  style="padding-top:0px; padding-bottom:0px; background-color:" ><div class="section_wrapper clearfix"><div class="items_group clearfix"></div></div></div><div class="section the_content has_content"><div class="section_wrapper"><div class="the_content_wrapper"><p>Heading</p>
<h4>Our Expertise</h4>
<p>center</p>
<p><img src="/assets/hair.jpg" alt="" /></p>
<p>Hair</p>
<p><a href="#">http://hairtransplantclinic.in/hair-tansplant/</a></p>
<p>bounceIn</p>
<p><img src="/assets/face-216x216.jpg" alt="" /></p>
<p>Face</p>
<p><a href="#">http://hairtransplantclinic.in/cosmetic-surgery/face-procedures/</a></p>
<p>bounceIn</p>
<p><img src="/assets/body-216x216.jpg" alt="" /></p>
<p>Breast</p>
<p><a href="#">http://hairtransplantclinic.in/cosmetic-surgery/breast-procedures/</a></p>
<p>bounceIn</p>
<p><img src="/assets/breast-216x216.jpg" alt="" /></p>
<p>Body</p>
<p><a href="#">http://hairtransplantclinic.in/cosmetic-surgery/body-procedures/</a></p>
<p>bounceIn</p>
<p>default</p>
<p>wide</p>
<p>Heading</p>
<h4>Meet Our Expert</h4>
<p>center</p>
<p><img class="alignleft size-full wp-image-2221" src="/assets/dr.png" alt="dctr" width="279" height="200" srcset="/assets/dctr.png 279w, /assets/dr.png 204w, /assets/dr.png 50w, /assets/dr.png 105w" sizes="(max-width: 279px) 100vw, 279px" /></p>
<h5>Dr. Srinivas</h5>
<p>Plastic &amp; Aesthetic Surgeon</p>
<hr class="no_line" style="margin: 0 auto 40px;"/>

<p><center><a class="button button_left button_themegreen button_js kill_the_icon" href="#"><i class="icon-chat"></i><span class="button_label">Ask a query</span></a></center>vertical</p>
<h3 align="justify"><div class="blockquote"><blockquote>Dr. Venkata Rao Yalamanchi, is a qualified &amp; certified plastic &amp; cosmetic surgeon in Hyderabad. After his degree in plastic &amp; cosmetic surgery he got trained, extensively in reconstructive, microsurgery &amp; cosmetic surgery at reputed center both in India &amp; abroad. He has eighteen years of experience as plastic &amp; cosmetic surgeon in Hyderabad. His special interest is in Hair transplantation &amp; Cosmetic surgery and has been pursuing these with more dedication.</h3>
<p>Obtained Medicine Degree from Rangaraya Medical College, Kakinada in 1986.Completed M.S in gen.surgery in 1990 from Manipal. Obtained M.Ch in plastic &amp; cosmetic surgery degree in 1996 from Madras Medical College, Chennai. Afterwards worked in NIMS (Nizamm’s Institute Of Medical Sciences) as Assistant prof. &amp; I/C Head of the department of Plastic surgery till 2002. Obtained Visiting Fellowship from Chang Gung Hospital, TAIWAN in the year 2000. Later he worked in Care Hospital till 2002 to 2008, after that he started his own cosmetic plastic surgery Center in Hyderabad..</blockquote></div>
<p>&nbsp;</p>
<p>&nbsp;</p>
<h5>MEMBER OF</h5>

<div id="rev_slider_2_4_wrapper" class="rev_slider_wrapper fullwidthbanner-container" style="margin:0px auto;background-color:transparent;padding:0px;margin-top:0px;margin-bottom:0px;">
<!-- START REVOLUTION SLIDER 5.0.6 auto mode -->
  <div id="rev_slider_2_4" class="rev_slider fullwidthabanner" style="display:none;" data-version="5.0.6">
<ul>  <!-- SLIDE  -->
  <li data-index="rs-4" data-transition="fade" data-slotamount="default"  data-easein="default" data-easeout="default" data-masterspeed="default"  data-link=""  data-target="_blank"  data-rotate="0"  data-saveperformance="off"  data-title="Slide" data-description="">
    <!-- MAIN IMAGE -->
    <img src="/assets/transparent.png"  alt=""  width="1081" height="115" data-bgposition="center center" data-bgfit="cover" data-bgrepeat="no-repeat" class="rev-slidebg" data-no-retina>
    <!-- LAYERS -->

    <!-- LAYER NR. 1 -->
    <div class="tp-caption   tp-resizeme"
       id="slide-4-layer-1"
       data-x="['left','left','left','left']" data-hoffset="['-43','-43','-43','-43']"
       data-y="['top','top','top','top']" data-voffset="['0','0','0','0']"
            data-width="none"
      data-height="none"
      data-whitespace="nowrap"
      data-transform_idle="o:1;"

       data-transform_in="opacity:0;s:1000;e:Power2.easeOut;"
       data-transform_out="opacity:0;s:1000;e:Power3.easeInOut;s:1000;e:Power3.easeInOut;"
      data-start="500"
      data-responsive_offset="on"


      style="z-index: 5;"><img src="/assets/aahrs.jpg" alt="" data-ww="['527px','527px','527px','527px']" data-hh="['115px','115px','115px','115px']" data-no-retina>
    </div>

    <!-- LAYER NR. 2 -->
    <div class="tp-caption   tp-resizeme"
       id="slide-4-layer-2"
       data-x="['left','left','left','left']" data-hoffset="['520','520','520','520']"
       data-y="['top','top','top','top']" data-voffset="['-2','-2','-2','-2']"
            data-width="none"
      data-height="none"
      data-whitespace="nowrap"
      data-transform_idle="o:1;"

       data-transform_in="opacity:0;s:1000;e:Power2.easeOut;"
       data-transform_out="opacity:0;s:800;s:800;"
      data-start="500"
      data-responsive_offset="on"


      style="z-index: 6;"><img src="/assets/apsi.jpg" alt="" data-ww="['475px','475px','475px','475px']" data-hh="['115px','115px','115px','115px']" data-no-retina>
    </div>
  </li>
  <!-- SLIDE  -->
  <li data-index="rs-5" data-transition="fade" data-slotamount="default"  data-easein="default" data-easeout="default" data-masterspeed="default"  data-rotate="0"  data-saveperformance="off"  data-title="Slide" data-description="">
    <!-- MAIN IMAGE -->
    <img src="/assets/transparent.png"  alt=""  width="1081" height="115" data-bgposition="center center" data-bgfit="cover" data-bgrepeat="no-repeat" class="rev-slidebg" data-no-retina>
    <!-- LAYERS -->

    <!-- LAYER NR. 1 -->
    <div class="tp-caption   tp-resizeme"
       id="slide-5-layer-1"
       data-x="['left','left','left','left']" data-hoffset="['-36','-36','-36','-36']"
       data-y="['top','top','top','top']" data-voffset="['-13','-13','-13','-13']"
            data-width="none"
      data-height="none"
      data-whitespace="nowrap"
      data-transform_idle="o:1;"

       data-transform_in="opacity:0;s:1000;e:Power2.easeOut;"
       data-transform_out="opacity:0;s:800;s:800;"
      data-start="500"
      data-responsive_offset="on"


      style="z-index: 5;"><img src="/assets/ahrs.jpg" alt="" data-ww="['527px','527px','527px','527px']" data-hh="['115px','115px','115px','115px']" data-no-retina>
    </div>

    <!-- LAYER NR. 2 -->
    <div class="tp-caption   tp-resizeme"
       id="slide-5-layer-2"
       data-x="['left','left','left','left']" data-hoffset="['526','526','526','526']"
       data-y="['top','top','top','top']" data-voffset="['-1','-1','-1','-1']"
            data-width="none"
      data-height="none"
      data-whitespace="nowrap"
      data-transform_idle="o:1;"

       data-transform_in="opacity:0;s:1000;e:Power2.easeOut;"
       data-transform_out="opacity:0;s:800;s:800;"
      data-start="500"
      data-responsive_offset="on"


      style="z-index: 6;"><img src="/assets/iaas.jpg" alt="" data-ww="['581px','581px','581px','581px']" data-hh="['115px','115px','115px','115px']" data-no-retina>
    </div>
  </li>
</ul>
<div class="tp-static-layers">
</div>
<div class="tp-bannertimer tp-bottom" style="visibility: hidden !important;"></div> </div>
<script>var htmlDiv = document.getElementById("rs-plugin-settings-inline-css"); var htmlDivCss="";
        if(htmlDiv) {
          htmlDiv.innerHTML = htmlDiv.innerHTML + htmlDivCss;
        }
        else{
          var htmlDiv = document.createElement("div");
          htmlDiv.innerHTML = "<style>" + htmlDivCss + "</style>";
          document.getElementsByTagName("head")[0].appendChild(htmlDiv.childNodes[0]);
        }
      </script>
    <script type="text/javascript">

      /******************************************
        - PREPARE PLACEHOLDER FOR SLIDER  -
      ******************************************/

      var setREVStartSize=function(){
        try{var e=new Object,i=jQuery(window).width(),t=9999,r=0,n=0,l=0,f=0,s=0,h=0;
          e.c = jQuery('#rev_slider_2_4');
          e.responsiveLevels = [1240,1024,778,480];
          e.gridwidth = [1000,1000,778,480];
          e.gridheight = [110,110,100,100];

          e.sliderLayout = "auto";
          if(e.responsiveLevels&&(jQuery.each(e.responsiveLevels,function(e,f){f>i&&(t=r=f,l=e),i>f&&f>r&&(r=f,n=e)}),t>r&&(l=n)),f=e.gridheight[l]||e.gridheight[0]||e.gridheight,s=e.gridwidth[l]||e.gridwidth[0]||e.gridwidth,h=i/s,h=h>1?1:h,f=Math.round(h*f),"fullscreen"==e.sliderLayout){var u=(e.c.width(),jQuery(window).height());if(void 0!=e.fullScreenOffsetContainer){var c=e.fullScreenOffsetContainer.split(",");if (c) jQuery.each(c,function(e,i){u=jQuery(i).length>0?u-jQuery(i).outerHeight(!0):u}),e.fullScreenOffset.split("%").length>1&&void 0!=e.fullScreenOffset&&e.fullScreenOffset.length>0?u-=jQuery(window).height()*parseInt(e.fullScreenOffset,0)/100:void 0!=e.fullScreenOffset&&e.fullScreenOffset.length>0&&(u-=parseInt(e.fullScreenOffset,0))}f=u}else void 0!=e.minHeight&&f<e.minHeight&&(f=e.minHeight);e.c.closest(".rev_slider_wrapper").css({height:f})
        }catch(d){console.log("Failure at Presize of Slider:"+d)}
      };


      setREVStartSize();
      function revslider_showDoubleJqueryError(sliderID) {
          var errorMessage = "Revolution Slider Error: You have some jquery.js library include that comes after the revolution files js include.";
          errorMessage += "<br> This includes make eliminates the revolution slider libraries, and make it not work.";
          errorMessage += "<br><br> To fix it you can:<br>&nbsp;&nbsp;&nbsp; 1. In the Slider Settings -> Troubleshooting set option:  <strong><b>Put JS Includes To Body</b></strong> option to true.";
          errorMessage += "<br>&nbsp;&nbsp;&nbsp; 2. Find the double jquery.js include and remove it.";
          errorMessage = "<span style='font-size:16px;color:#BC0C06;'>" + errorMessage + "</span>"
            jQuery(sliderID).show().html(errorMessage);
        }
      var tpj=jQuery;

      var revapi2;
      tpj(document).ready(function() {
        if(tpj("#rev_slider_2_4").revolution == undefined){
          revslider_showDoubleJqueryError("#rev_slider_2_4");
        }else{
          revapi2 = tpj("#rev_slider_2_4").show().revolution({
            sliderType:"standard",
            jsFileLocation:"http://hairtransplantclinic.in/wp-content/plugins/revslider/public/assets/js/",
            sliderLayout:"auto",
            dottedOverlay:"none",
            delay:2000,
            navigation: {
              onHoverStop:"off",
            },
            responsiveLevels:[1240,1024,778,480],
            gridwidth:[1000,1000,778,480],
            gridheight:[110,110,100,100],
            lazyType:"none",
            shadow:0,
            spinner:"spinner0",
            stopLoop:"off",
            stopAfterLoops:-1,
            stopAtSlide:-1,
            shuffle:"off",
            autoHeight:"off",
            disableProgressBar:"on",
            hideThumbsOnMobile:"off",
            hideSliderAtLimit:0,
            hideCaptionAtLimit:0,
            hideAllCaptionAtLilmit:0,
            startWithSlide:0,
            debugMode:false,
            fallbacks: {
              simplifyAll:"off",
              nextSlideOnWindowFocus:"off",
              disableFocusListener:false,
            }
          });
        }
      }); /*ready*/
    </script>
    </div><!-- END REVOLUTION SLIDER -->
<p>default</p>
<p>wide</p>
<p><center>Patient Stories</center><center><img class="scale-with-grid" src="/assets/home_dent_tab_3-e1452746800836.png" alt="" /></center>&nbsp;</p>
<p><center><img class="scale-with-grid" src="/assets/home_dent_tab_1-e1452746588394.png" alt="" /></center>default</p>
<p>wide</p>
<p><center>Why Choose Us</center></p>
<div class="list_item lists_4 clearfix">
<div class="circle">1</div>
<div class="list_right">
<div class="desc align_center">
<h5>Hair Expertise</h5>
<ul style="list-style-type: none; color: black;">
<li>2000+ Hair Transplants</li>
<li>Natural Looking Hair Line &amp; Results</li>
<li>Performed By Plastic Surgein</li>
<li>Advanced FUT&amp;FUE Methods</li>
</ul>
</div>
</div>
</div>
<div class="list_item lists_4 clearfix">
<div class="circle">2</div>
<div class="list_right">
<div class="desc">
<h5>All Cosmetic Surgeries</h5>
<ul style="list-style-type: disc; color: black;">
<li>All Types Of Cosmetic/Plastic Procedures</li>
<li>Advanced Methods Reduces Downtime</li>
<li>Sincerly &amp; Frankly Explain All Aspects Of Cosmetic Procedures</li>
<li>Friendly Staff</li>
</ul>
</div>
</div>
</div>
</div></div></div>      </div>


    </div>

    <!-- .four-columns - sidebar -->

  </div>
</div>


<!-- mfn_hook_content_after --><!-- mfn_hook_content_after -->
<!-- #Footer -->
<footer id="Footer" class="clearfix">


  <div class="widgets_wrapper"><div class="container"><div class="column one-second"><aside id="text-2" class="widget widget_text"><h4>Make Appointment Now!</h4>     <div class="textwidget"><h4 style="font-weight: 600; color: #fff; line-height: 50px !important;     text-align: center !important;"><a href="tel:+91 8099055055">+91 7036999088 </a></h4>

<center><h6>OR</h6></center>

<center><a class="button  button_right button_js kill_the_icon" href="#" style=" background-color:#000000 !important; color:#ffffff;"><span class="button_icon"><i class="icon-calendar-line" style=" color:#ffffff !important;"></i></span><span class="button_label">Book Online</span></a></center>

<p style="font-size: 13px; text-align: center;">* Please check the availability of surgeons before arriving for the consultation.</p></div>
    </aside></div><div class="column one-second"><aside id="text-4" class="widget widget_text"><h4>Contact Us</h4>      <div class="textwidget"><div style="float: left; font-color:black; margin: 5px 20px 0;">
<div class="image_frame image_item no_link scale-with-grid aligncenter no_border" ><div class="image_wrapper"><img class="scale-with-grid" src="/assets/home_dentist_pin1.png" alt="" width="47" height="69" /></div></div>

</div>
<div style="float: left;">
<strong style="font-size: 20px;">Hyderabad</strong> <br />
1st Floor, Plot - 30, <br>
Rao & Raju colony,<br>
Road No:2, Banjara Hills,<br>
Hyderabad, Telangana<br>
<i class="icon-call"><a href="tel:+91 8099 055 055">+91 7036999088</a></i>
</div>
<hr />
<div style="float: left; font-color:black; margin: 5px 20px 0;">
<div class="image_frame image_item no_link scale-with-grid aligncenter no_border" ><div class="image_wrapper"><img class="scale-with-grid" src="/assets/home_dentist_pin1.png" alt="" width="47" height="69" /></div></div>

</div>
<div style="float: left;">
<strong style="font-size: 20px;">Visakhapatnam</strong><br />
Waltair Main Rd, Ram Nagar<br />
Opp Seven Hills Hospital<br />
Visakhapatnam, AP-530020<br />
<i class="icon-call"><a href="tel:+91 9963 655 055">+91 9963 655 055</a></i>
</div>
</div>
    </aside></div></div></div>
    <div class="footer_copy">
    <div class="container">
      <div class="column one">

                <a id="back_to_top" class="button button_left button_js hide" href=""><span class="button_icon"><i class="icon-up-open-big"></i></span></a>

        <!-- Copyrights -->
        <div class="copyright">
          © 2016 Dr M V Srinivas's Hair Transplant & Cosmetic Surgery Centre. All Rights Reserved. Powered by ION        </div>

        <ul class="social"><li class="facebook"><a  href="https://www.facebook.com/yv.rao.1217" title="Facebook"><i class="icon-facebook"></i></a></li><li class="googleplus"><a  href="https://plus.google.com/u/0/104542755529218838892" title="Google+"><i class="icon-gplus"></i></a></li><li class="twitter"><a  href="https://twitter.com/dryvraos" title="Twitter"><i class="icon-twitter"></i></a></li><li class="youtube"><a  href="https://www.youtube.com/channel/UCE2GvW4zQ3uM6xQnhBrXQGQ" title="YouTube"><i class="icon-play"></i></a></li><li class="linkedin"><a  href="http://linkedin.com" title="LinkedIn"><i class="icon-linkedin"></i></a></li></ul>
      </div>
    </div>
  </div>

</footer>

</div><!-- #Wrapper -->


<!-- mfn_hook_bottom --><!-- mfn_hook_bottom -->
<!-- wp_footer() -->
        <!--facebook like and share js -->
        <div id="fb-root"></div>
    <script>(function(d, s, id) {
      var js, fjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id)) return;
        js = d.createElement(s); js.id = id;
        js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.5";
        fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));</script>
    <!--<div id="fb-root"></div>
        <script>
        (function(d, s, id) {
          var js, fjs = d.getElementsByTagName(s)[0];
          if (d.getElementById(id)) return;
          js = d.createElement(s); js.id = id;
          js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&appId=1425108201100352&version=v2.0";
          fjs.parentNode.insertBefore(js, fjs);
        }(document, 'script', 'facebook-jssdk'));</script>-->
           <!--google share and  like and e js -->
        <script type="text/javascript">
            window.___gcfg = {
              lang: 'en-US'
            };
            (function() {
                var po = document.createElement('script'); po.type = 'text/javascript'; po.async = true;
                po.src = 'https://apis.google.com/js/plusone.js';
                var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(po, s);
            })();
        </script>

    <!-- google share -->
        <script type="text/javascript">
          (function() {
            var po = document.createElement('script'); po.type = 'text/javascript'; po.async = true;
            po.src = 'https://apis.google.com/js/platform.js';
            var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(po, s);
          })();
        </script>
      <!-- twitter JS End -->
    <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="https://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
       <script>
      jQuery( document ).scroll(function( $ )
    {
        var y = jQuery(this).scrollTop();
          if (/Android|webOS|iPhone|iPad|iPod|BlackBerry|IEMobile|Opera Mini/i.test(navigator.userAgent))
      {
         if(jQuery(window).scrollTop() + jQuery(window).height() >= jQuery(document).height()-100)
         {
          jQuery('.sfsi_outr_div').css({'z-index':'9996',opacity:1,top:jQuery(window).scrollTop()+"px",position:"absolute"});
          jQuery('.sfsi_outr_div').fadeIn(200);
          jQuery('.sfsi_FrntInner_chg').fadeIn(200);
         }
         else{
           jQuery('.sfsi_outr_div').fadeOut();
           jQuery('.sfsi_FrntInner_chg').fadeOut();
         }
      }
      else
      {
         if(jQuery(window).scrollTop() + jQuery(window).height() >= jQuery(document).height()-3)
         {
          jQuery('.sfsi_outr_div').css({'z-index':'9996',opacity:1,top:jQuery(window).scrollTop()+200+"px",position:"absolute"});
          jQuery('.sfsi_outr_div').fadeIn(200);
          jQuery('.sfsi_FrntInner_chg').fadeIn(200);
           }
         else
         {
         jQuery('.sfsi_outr_div').fadeOut();
         jQuery('.sfsi_FrntInner_chg').fadeOut();
         }
      }
    });
     </script>
 


</body>

